[Unit]
Description=ODROID-N2 audio routing (HDMI + analog ACODEC + SPDIF)
After=sound.target
Before=pulseaudio.service weston.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/odroid-n2-audio-routing.sh

[Install]
WantedBy=multi-user.target
