KERNEL=="mali*", MODE="0660", GROUP="video"
KERNEL=="am*", MODE="0660", GROUP="video"
KERNEL=="av*", MODE="0660", GROUP="video"
KERNEL=="di0", MODE="0660", GROUP="video"
KERNEL=="di_*", MODE="0660", GROUP="video"
KERNEL=="dma*", MODE="0660", GROUP="video"
KERNEL=="firmware*", MODE="0660", GROUP="video"
KERNEL=="ge2d", MODE="0660", GROUP="video"
KERNEL=="ion*", MODE="0660", GROUP="video"
KERNEL=="media*", MODE="0660", GROUP="video"
KERNEL=="v4l*", MODE="0660", GROUP="video"
KERNEL=="video*", MODE="0660", GROUP="video"

KERNEL=="mediasync", GROUP="video", MODE="660"
KERNEL=="amresource_mgr", GROUP="video", MODE="660"
KERNEL=="tee0", GROUP="video", MODE="660"
KERNEL=="secmem", GROUP="video", MODE="660"

ACTION=="add", SUBSYSTEM=="dma_heap", ENV{DEVNAME}=="/dev/dma_heap/linux,cma", GROUP="video", MODE="0660"
ACTION=="add", SUBSYSTEM=="dma_heap", ENV{DEVNAME}=="/dev/dma_heap/system-uncached", GROUP="video", MODE="0660"
ACTION=="add", SUBSYSTEM=="dma_heap", ENV{DEVNAME}=="/dev/dma_heap/heap-gfx", GROUP="video", MODE="0660"
ACTION=="add", SUBSYSTEM=="dma_heap", ENV{DEVNAME}=="/dev/dma_heap/heap-secure", GROUP="video", MODE="0660"
